# Nginx Proxy Manager API Configuration
NPM_URL=http://127.0.0.1:81/api
NPM_EMAIL=your-email@example.com
NPM_PASSWORD=your-password-here
ACCESS_LIST_ID=2

# Docker Configuration
DOCKER_CONTAINER_NAME=lmex89-nginix-proxy-mananger-app-1
DOCKER_CONTAINER_LOG=/data/logs/proxy-host-X_access.log

# Log Reader Configuration
FILTER_PATTERN=bot|crawl|wp|env|.git|config.js|aws|docker
LINES_TO_READ=200
